* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #0c0c08;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 1.5;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 860px;

    padding-left: 20px;
    padding-right: 20px;
}

main > img {
    width: 420px;

    margin-bottom: 20px;
}

main > p:not(:last-child) {
    margin-bottom: 20px;
}

main > p a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1.5px solid #fff;
}
